<% layout("/layout/boilerplate") %>
    
  <h3><%= name.toUpperCase() %> Products</h3>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
    <% allProducts.forEach(product => { %> 
       <div class="card">
         <a href="/product/<%=product.type%>/<%=product._id%>">
          <% if (product.image && product.image.length > 0) { %>
            <img src="/<%= product.image[0] %>" alt="Murti Image" width="200">
           <% } else { %>
            <img src="/default.jpg" alt="Default Image" width="200">
          <% } %>

           <div class="container">
            <h4><b><%= product.name%></b></h4> 
            <p><%= product.description%></p> 
            <a href="/product/<%=product.type%>/<%=product._id%>" class="view-all">More</a>
           </div>
         <br>
          </a>
       </div>
       <% }); %> 
   </div>
<br>

  
